### /Users/ryo_iwamoto/.gitignore-boilerplates/Global/vim.gitignore

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### /Users/ryo_iwamoto/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### /Users/ryo_iwamoto/.gitignore-boilerplates/Global/intellij.gitignore

*.iml
*.ipr
*.iws
.idea/


node_modules
*.d.ts
